<style>

h1 {
    color: aquamarine;
}

            
              #thirdDiv {
                  height: 600px;
                  width: 500px;
                  background-color:rgb(241, 170, 120);
                  padding: 50px;
                  border: rgb(75, 60, 22);
              }
              #spanId {
                  font-size: 18px;
                  margin: 50px;
              }

      </style>