<style>

h1 {
    color: aquamarine;
}

            body {
                background: url(https://www.metropolionline.com/media/zoo/images/MetroMedellin_285a75691606f6c059dd5648f5233d97.jpg) ;
              }
              #thirdDiv {
                  height: 600px;
                  width: 500px;
                  color:chocolate;
                  padding: 50px;
                  border: goldenrod;
              }
              #spanId {
                  font-size: 18px;
                  margin: 50px;
              }

      </style>